<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
            .bg-body{
                background-color: rgba(0, 0, 0, 0.09);
            }
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="https://use.fontawesome.com/421a392181.js"></script>
    </head>
    <body style="padding-top: 51px; padding-bottom: 51px;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <i class="fa fa-quora" aria-hidden="true"></i> Test yourself!
                    </a>
                </div>
                <a href="{{ path('quizzes_list') }}" class="btn btn-default navbar-btn">Play</a>
                <a href="{{ path('top') }}" class="btn btn-default navbar-btn">Top players</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ logout_path() }}" class="btn btn-danger navbar-btn pull-right">Logout</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin_admin') }}" class="btn btn-primary navbar-btn pull-right">Manage quizzes</a>
                    {% endif %}
                    <p class="navbar-text pull-right">Signed in as {{ app.user.username }}</p>
                {% endif %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('register') }}" class="btn btn-success navbar-btn pull-right" style="margin: 5px;">Register</a>
                    <a href="{{ path('login') }}" class="btn btn-success navbar-btn pull-right" style="margin: 5px;">Login</a>
                {% endif %}
            </div>
        </nav>
        <div class="container bg-body" style="min-height: 90vh; position: relative;">
            {% block body %}{% endblock %}
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                    <p class="navbar-text pull-right">Created by Maxim Dolnik</p>
            </div>
        </nav>
        {% block javascripts %}{% endblock %}
    </body>
</html>
