{% extends "base.html.twig" %}

{% block title %}AppBundle:Admin:admin{% endblock %}

{% block body %}
    <div class="container">
        <h3>quizzes</h3>
        <div class="panel-body">
            <select class="js-example-basic-single" name="state">
                <option selected="selected"></option>
                {% for i in 0..questions|length-1 %}
                    <option value="{{ i }}">{{ i }}) {{ questions[i]['question'] }}</option>
                {% endfor %}
            </select>
            {{ form(form) }}
            <div id="text"></div>
            <a href="{{ path('questions') }}" class="btn btn-success pull-right">Add new question</a>
        </div>
        {% if quizzes|length != 0 %}
            {% for i in 0..quizzes|length-1 %}
                <h4>{{ i+1 }}. {{ quizzes[i]['name'] }} status: {{ quizzes[i]['status'] }}</h4>
                <a href="{{ path('remove_quiz') }}?id={{ quizzes[i]['id']}}">remove</a> |
                <a href="{{ path('set_status') }}?id={{ quizzes[i]['id']}}">change status</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });

        $('.js-example-basic-single').select2().on("change", function(e) {
            var obj = $('.js-example-basic-single').select2("data");
            if(document.getElementById('quizzes_questions').value === ''){
                document.getElementById('quizzes_questions').value += (obj[0].id).toString()
            } else {
                document.getElementById('quizzes_questions').value += ','+(obj[0].id).toString();
            }
        });
    </script>
{% endblock %}